@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .blur-sm {
    filter: blur(4px);
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
}
