{% extends "base.html" %}

{% block content %}
<div class="isolate relative px-6 mt-16 sm:mt-24 lg:px-8">
  <div class="mx-auto text-center">
    {% if user.is_authenticated %}
      {% include 'components/dashboard_home.html' with projects=projects %}
    {% else %}
      {% include 'components/landing_page.html' %}
    {% endif %}
  </div>
</div>

{% if show_confetti %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script>
  confetti({
    particleCount: 100,
    spread: 70,
    origin: { y: 0.6 }
  });
</script>
{% endif %}

{% endblock content %}
